.app-searchbar {
  min-height: calc(100vh - calc(56px + 1rem));
  /* max-height: min-content; */
}
#p {
  display: inline-block;
  line-height: 0%;
  margin: 0;
}
.search_form,
.dropdown__container,
.search_result {
  width: 80%;
  margin: 0 auto;
}

.dropdown__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  z-index: 999;
}

.search_result {
  height: calc(calc(100vh - calc(56px + 1rem)) * 0.8);
  background-color: rgb(212, 212, 212);
  overflow-y: scroll;
}

#h3 {
  margin: 0;
  text-align: center;
  width: max-content;
}

.search_bar__wrap {
  display: flex;
  flex: 1;
}

.dropdown-menu > a:hover {
  cursor: pointer;
  background: rgb(195, 209, 208);
}
.animated {
  transform-origin: top;
  /* transition: transform 0.3s ease-in-out; */
  animation: 0.6s ease-in both expand;
  z-index: -1;
}

@keyframes expand {
  from {
    opacity: 0.7;
    transform: translateY(-10px);
    /* width: ; */
    height: 0%;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    height: 100%;
  }
}
