<div class="app-searchbar">
  <form (submit)="search()" class="search_form">
    <p id="p">Search using Name, Employee ID and Designation</p>
    <div class="input-group mb-3">
      <div class="btn-group mr-2">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Search using
          {{
            searchFilter === "firstName"
              ? "Name"
              : searchFilter === "employeeId"
              ? "Employee ID"
              : searchFilter === "designation"
              ? "Designation"
              : "..."
          }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="searchFilter = 'firstName'">Name</a>
          <a class="dropdown-item" (click)="searchFilter = 'employeeId'">
            Employee ID
          </a>
          <a class="dropdown-item" (click)="searchFilter = 'designation'">
            Designation
          </a>
        </div>
      </div>
      <div class="search_bar__wrap">
        <input
          type="text"
          class="form-control"
          aria-label="Search Term"
          aria-describedby="button-addon2"
          [(ngModel)]="searchTerm"
          name="search"
          autocomplete="off"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-primary"
            type="button"
            id="button-addon2"
            (click)="search()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="dropdown__container">
    <h3 id="h3">Filters:</h3>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Date of Birth
      </button>
      <div class="dropdown-menu">
        <input
          type="date"
          value="2018-07-22"
          (input)="inputHandler($event)"
          class="dropdown-item"
        />
      </div>
    </div>

    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Gender
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item">Male</a>
        <a class="dropdown-item">Female</a>
        <a class="dropdown-item">Other</a>
      </div>
    </div>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Age
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item">18 - 25</a>
        <a class="dropdown-item">26 - 35</a>
        <a class="dropdown-item">36 - 45</a>
        <a class="dropdown-item">46 - 55</a>
        <a class="dropdown-item">56 - 65</a>
        <a class="dropdown-item">66 - 75</a>
      </div>
    </div>
  </div>
  <div *ngIf="showResult" class="search_result animated">
    <app-search-result [employees]="searchResult"></app-search-result>
  </div>
</div>
