<div class="app-searchbar">
  <form (submit)="search()" class="search_form">
    <p id="p">Search using Name, Employee ID and Designation</p>
    <div class="input-group mb-3">
      <div class="btn-group mr-2">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Search using
          {{
            searchFilter === "firstName"
              ? "Name"
              : searchFilter === "employeeId"
              ? "Employee ID"
              : searchFilter === "designation"
              ? "Designation"
              : "..."
          }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="searchFilter = 'firstName'">Name</a>
          <a class="dropdown-item" (click)="searchFilter = 'employeeId'">
            Employee ID
          </a>
          <a class="dropdown-item" (click)="searchFilter = 'designation'">
            Designation
          </a>
        </div>
      </div>
      <div class="search_bar__wrap">
        <input
          type="text"
          class="form-control"
          aria-label="Search Term"
          aria-describedby="button-addon2"
          [(ngModel)]="searchTerm"
          name="search"
          autocomplete="off"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-primary"
            type="button"
            id="button-addon2"
            (click)="search()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="dropdown__container">
    <h3 id="h3">Filters:</h3>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Date of Birth
      </button>
      <div class="dropdown-menu">
        <input
          type="date"
          value="2002-12-31"
          (change)="inputDateHandler($event.target.valueAsDate.toString())"
          class="dropdown-item"
          min="1945-12-31"
        />
        <!-- max="2002-12-31" -->
      </div>
    </div>

    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Gender
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="inputGenderHandler(null)">None</a>
        <a
          *ngFor="let i of arrayGender"
          class="dropdown-item"
          (click)="inputGenderHandler(i)"
          >{{ i }}</a
        >
      </div>
    </div>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Age
      </button>
      <div class="dropdown-menu">
        <input type="number" name="age" id="age" />
        <a class="dropdown-item" (click)="inputAgeHandler(null)">None</a>
        <a
          *ngFor="let i of arrayAge"
          class="dropdown-item"
          (click)="inputAgeHandler(i)"
          >{{ i + 18 }}</a
        >
      </div>
    </div>
  </div>
  <div *ngIf="showResult" class="search_result" data-animation="true">
    <app-search-result [employees]="searchResult"></app-search-result>
  </div>
</div>
