<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" routerLinkActive="active" routerLink="personal-info"
        >Personal Info</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" routerLinkActive="active" routerLink="addresses"
        >Address</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" routerLinkActive="active" routerLink="contacts"
        >Contacts</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
