/* You can add global styles to this file, and also import other style files */
:root {
  --shadow: rgba(0, 0, 0, 0.185);
}

.navbar {
  margin-bottom: 1rem;
  -webkit-box-shadow: 3px 3px 5px 6px var(--shadow); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px var(--shadow); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 3px 5px var(--shadow); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

body,
input,
button {
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 589px) and (orientation: portrait) {
  form.search_form p#p {
    display: inline;
  }
  div.app-searchbar form.search_form div.input-group.mb-3 div.btn-group.mr-2 {
    width: 100%;
  }
  .input-group {
    display: block;
  }
  .search_bar__wrap {
    margin-top: 1rem;
  }
  .dropdown__container h3#h3 {
    flex: 1;
    width: 100%;
  }
}
